
$theme-colors: (
  "primary-theme": #7B81FF,
  "secondary-theme": rgba(123, 130, 255, 0.12),
  "secondary-dark-theme": #262867
);


// import bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";

$primary-theme: #7B81FF;
$secondary-theme: rgba(123, 130, 255, 0.12);
$secondary-dark-theme: #262867;

.uploadRectangle {
  position: absolute;
  width: 339px;
  height: 242px;
  left: 82px;
  top: 129px;
  background: $secondary-theme;
};
.uploadText {
position: absolute;
width: 242px;
height: 71px;
left: 130px;
top: 268px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #000000;
};
.uploadImg {
  display: block;
  position: relative;
  left: 25%;
  width: 50%;
};
