<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>Login</h1>
	<form action="/checklogin" method="post">
		Username:<br>
		<input type="text" name="username"><br>
		Password:<br>
		<input type="text" name="password"><br>
		<input type="submit" value="Login"><br>
	</form>
	<p>Sign up <a href="/signup">here</a>.</p><br>
</body>
</html>